<h1> <%= @business.name %> </h1>
<p> <%= @business.address %></p>
<p> <%= @business.city %></p>
<p> <%= @business.state %></p>
<p> <%= @business.description %></p>
<p> <%= link_to 'Edit this business', edit_business_path %></p>

<p>Total Reviews: <%= @reviews.count %></p>
<%= link_to 'Add a review', new_business_review_path(@business) %>
<% if @user_status %>
  <div class="social">
    <% if current_user.likes?(@business) %>
      <%= button_to "Unlike", business_unlike_path(@business), remote: :true, method: :post, class: "social-like" %>
    <% else %>
      <%= button_to "Like", business_like_path(@business), remote: :true, method: :post, class: "social-unlike" %>
    <% end %>
  </div>
<% end %>

<p class="likes-count">
  <%= pluralize(@business.likers(User).count, 'Like') %>
</p>

<% @reviews.each do |r| %>

        <p><strong><%= r.title %></strong></p>
        <p><%= r.description %></p>
        <p>Rating: <%= r.rating %></p>
        <p>
          Reviewed by:
            <% u = User.find(r.user_id) %>
            <%= image_tag u.avatar.url(:thumb) %>
            <%= link_to u.given_name, user_path(u.id) %>,
            <%= time_ago_in_words(r.created_at) %> ago.
            <% if @user_status %>
              <% if current_user.id == u.id %>
                <%= link_to '[edit]', edit_business_review_path(@business.id, r.id) %>
                <%= link_to '[X]', business_review_path(@business.id, r.id), method: :delete %>
              <% end %>
            <% end %>
        </p><hr></hr>

<% end %>
