<h1>User#show</h1>
<p>Find me in app/views/user/show.html.erb</p>
<%= image_tag @user.avatar.url(:medium) %>
<p>First Name: <%= @user.given_name %></p>
<p>Last Name: <%= @user.family_name %></p>
<p>Email: <%= @user.email %></p>
<p>City: <%= @user.city %></p>
<p>State: <%= @user.state %></p>
<p>Status: <%= @user.status %></p>
<p>Total Reviews: <%= @reviews.count %></p>
<p>List of Likes: <%= @user.followees(Business) %></p>
<% if @user.id == current_user.id %>
<p>New Status:</p>
  <%= form_for @user, url: user_path(@user), method: :patch do |f| %>
      <%= f.text_field :status %>
      <%= f.submit 'Update Status'%>
    <% end %>
    <p><%= link_to 'Edit Profile', edit_user_path(@user) %></p>
<% end %>

<h3>Reviews:</h3>
    <% @reviews.each do |r| %>
    <% b = Business.find(r.business_id) %>
    <p><%= link_to b.name, business_path(b) %></p>
    <p><%= r.title %></p>
    <p><%= r.description %></p>
    <p>Created <%=  time_ago_in_words(r.created_at) %> ago.</p>
<% end %>
